//--------------------------------------------------------------------------- CONTENT
#wrap {
  width: wd(wrap);
  margin: 0 auto;
  font-family: "dosis", sans-serif;
  font-size: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 0 2fr 1fr;
  grid-template-rows: 100vh 10fr 56px;
  grid-template-areas:
    "header header header"
    "content sidebar sidebar"
    "footer footer footer";
  @include mq-max(720px) {
    grid-template-columns: $tbh 1fr;
    grid-template-rows: 200px auto auto 40px;
    grid-template-areas:
      "header header "
      "content content"
      "sidebar sidebar"
      "footer footer";
  }

  //---------------------------------------- HEADER
  .hd {
    margin: calc(75px + 1rem) 0;
    width: calc(wd(1) - $tbh);
    grid-area: header;
    grid-column: 1 / span 4;
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 1fr;
    grid-template-areas:
      "head head"
      "tabs login";

    header {
      .head-img {
        width: wd(wrap);
        height: 100%;
        background: url(../../img/bg/jumbotron-bg.jpg) no-repeat center;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-size: origin;
        @include clip-message;
        position: relative;
        grid-area: head;
        grid-column: 1 / span 4;

        .head-text {
          display: block;
          position: absolute;
          top: 5%;
          left: 15%;
          right: 15%;
          padding: 1em;
          @include sdw;
          @include rad(1em);

          h1 {
            font-weight: bold;
            font-family: "play", georgia;
            font-size: 4rem;
            text-transform: capitalize;
            color: clr(blue);
            @include tsdw;
          }

          p {
            margin-top: 1em;
            font-size: 1.5rem;
            color: clr(pinkp);
            @include tsdw;
          }

          a {
            color: clr(pinkp);
          }
        }
      }
    }

    .tabs {
      grid-area: tabs;
      grid-column: 1/4;
      display: block;
    }
  }
  //---------------------------------------- CONTENT
  .ct {
    background-color: clr(wht);
    color: clr(item7);
    line-height: 1.2;
    font-family: "dosis", sans-serif;
    grid-area: content;
    grid-column: 1/3;
    padding: 1rem;
  }

  //---------------------------------------- RIGHT SIDEBAR
  .sb {
    background-color: clr(wht);
    font-family: "dosis", sans-serif;
    grid-area: sidebar;
    grid-column: 3/4;
    padding: 1rem;
  }

  //---------------------------------------- END LOW BAR or FOOTER
  .eb {
    background-color: clr(wht2);
    grid-area: footer;
  }
} //--------------------------------------------------------------------------- LAYOUT OFF
