//--------------------------------------------------------------------------- CONTENT
#wrap {
  display: grid;
  font-family: "dosis", sans-serif;
  font-size: 1rem;
  color: clr(item6);
  transition: margin-left 0.5s;
  grid-template-columns: 72px 3fr 1.4fr 72px;
  grid-template-rows: 400px 10fr 56px;
  grid-template-areas:
    "header header header"
    "leftsidebar content sidebar"
    "leftsidebar footer footer";
  @include mq-max(720px) {
    grid-template-columns: 72px 1fr;
    grid-template-rows: 200px auto auto 40px;
    grid-template-areas:
      "header header"
      "leftsidebar content"
      "leftsidebar sidebar rightsidebar"
      "leftsidebar footer";
  }

  //---------------------------------------- HEADER
  .hd {
    grid-area: header;
    background-color: clr(wht2);
  }
  //---------------------------------------- CONTENT
  .ct {
    background-color: clr(wht);
    font-family: "dosis", sans-serif;
    grid-area: content;
    padding: 1rem;
  }

  //---------------------------------------- RIGHT SIDEBAR
  .rb {
    background-color: clr(wht);
    font-family: "dosis", sans-serif;
    grid-area: sidebar;
    padding: 1rem;
  }

  //---------------------------------------- END LOW BAR or FOOTER
  .eb {
    background-color: clr(wht2);
    grid-area: footer;
  }
} //--------------------------------------------------------------------------- LAYOUT OFF
