//----------------------------------------------------------------------------------This is mixins

//------------------------------------- media query
// how to use :
// @include mq(720px) { your query here}
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
@mixin mq-max($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

//------------------------------------- Uppercase text
// how to use :
// .container {
// @include upper;
// }                                    <---- thats it
@mixin upper {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin sdw {
  box-shadow: 1px 1px 5px #3f3f3f;
}

@mixin tsdw {
  text-shadow: 1px 1px 1px #070707;
}

@mixin rad($level) {
  border-radius: $level;
}

@mixin bor($level, $weight, $color) {
  border: $level $weight $color;
}

@mixin cap {
  text-transform: capitalize;
}

@mixin trans($level) {
  transition: $level;
}

@mixin mp0 {
  margin: 0;
  padding: 0;
}

@mixin wh0 {
  width: 0;
  height: 0;
}

@mixin clip-message {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
