@import "var";
@import "mixins";
//--------------------------------------------------------------------------- TOPBAR
/* ------------------TOP BAR AREA*/
#tb {
  width: w(0);
  background-color: clr(wht);
  position: fixed;
  z-index: 999;
  display: grid;
  grid-template-columns: 72px 1fr 4fr 1fr 72px;
  grid-template-areas: "bars logo news nav_link morevert";
  justify-content: space-evenly;
  transition: all 300ms ease-in-out;
  @include sdw;

  // MENU BUTTON
  .bars {
    grid-area: bars;
    grid-column: 1/2;
    display: flex;
    justify-content: center;

    i {
      align-self: center;
      color: clr(item5);

      &:hover,
      &:focus {
        color: clr(tomat);
      }
    }
  }

  // LOGO WEB
  .logo {
    color: tomat;
    font-size: 1.5rem;
    grid-area: logo;
    grid-column: 2/3;
    display: flex;
    align-self: center;

    img {
      justify-items: center;
    }
  }

  // NEWS SLIDER
  .newslider {
    grid-area: news;
    grid-column: 3/4;
  }

  // LINK NAVIGATION
  .nav_link {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    grid-area: nav_link;
    grid-column: 4/5;

    ul {
      margin: 0 0 0 auto;
      display: flex;
      justify-content: flex-end;
      justify-items: center;
      list-style: none;
      @include trans(0.5s);

      li {
        align-self: center;
        padding: 0;
        a {
          font-size: 0.9rem;
          margin: 0.5rem;
          color: clr(item5);
          text-decoration: none;
          @include cap;

          &:hover,
          &:focus {
            color: clr(tomat);
          }

          .rot45 {
            transform: rotate(45deg);
          }
          .rot135 {
            transform: rotate(135deg);
          }
        }
        .active {
          background-color: clr(tomat);
          @include rad(50px);
        }
      }
    }
    @include mq-max(500px) {
      display: none;
    }
  }

  //MORE BUTTON
  .more {
    grid-area: morevert;
    grid-column: 5/6;
    display: flex;
    justify-content: center;

    i {
      align-self: center;
      padding: 0;
      color: clr(item5);

      &:hover,
      &:focus {
        color: clr(tomat);
      }
    }

    .morebtn {
      color: clr(item5);
      font-size: 24px;
      border: none;
      cursor: pointer;
      &:hover,
      &:focus {
        color: clr(tomat);
      }
    }

    .more_content {
      position: absolute;
      width: 72px;
      height: 100vh;
      top: $tbh;
      right: 0;
      bottom: 0;
      z-index: 999;
      display: block;
      background-color: clr(trans);

      ul {
        @include trans(0.5s);
        display: flexbox;
        justify-content: first baseline;
        justify-items: center;
        list-style: none;
        height: 100vh;
        padding: 0;
        margin: 30px auto;

        li {
          align-self: center;
          list-style: none;
          display: block;
          height: 3em;

          a {
            text-align: center;
            align-self: center;
            display: inline;
            font-size: 0.9rem;
            padding: 0.4rem;
            text-decoration: none;
            display: block;
          }
        }
      }
    }
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
  }
}
.large {
  height: $tbh;
}
.small {
  height: $tbh2 !important;
}

//-------------------------------------------------------------------------------- LEFT BAR MENU
#lb {
  background-color: clr(trans);
  position: fixed;
  width: 72px;
  height: 100vh;
  top: $tbh;
  left: 0;
  bottom: 0;

  ul {
    @include trans(0.5s);
    display: block;
    justify-items: center;
    list-style: none;
    height: 100vh;
    padding: 0;
    margin: 30px auto;

    li {
      justify-content: center;
      justify-items: center;
      list-style: none;
      display: flex;
      height: 3.6rem;

      a {
        color: clr(item5);
        text-decoration: none;
        @include cap;

        &:hover,
        &:focus {
          color: clr(tomat);
        }

        i {
          color: clr(item5);
          align-self: center;
        }

        span {
          display: block;
          font-size: 0.6rem;
          text-transform: capitalize;
        }
      }
    }
  }
  //for javascript toggle
}
.hidelb {
  display: none;
}

//---------------------------------------------------------------------------------- RIGHT BAR MENU
// #rb {
//   background-color: clr(wht);
//   grid-area: rightsidebar;
//   grid-column: 4/5;

//   position: fixed;
//   width: 72px;
//   height: 100vh;
//   top: 56px;
//   right: 0;
//   bottom: 0;
//   z-index: 999;

//   ul {
//     @include trans;
//     display: flexbox;
//     justify-content: first baseline;
//     justify-items: center;
//     list-style: none;
//     height: 100vh;
//     padding: 0;
//     margin: 30px auto;

//     li {
//       align-self: center;
//       list-style: none;
//       display: block;
//       height: 3em;

//       a {
//         color: clr(wht);
//         margin-left: 1.5rem;
//         text-decoration: none;
//         @include cap;

//         &:nth-child(6) {
//           position: relative;
//           bottom: 0;
//         }

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//       .active {
//         background-color: clr(lightgreen);
//         @include rad(50px);

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//     }
//   }
// }
