//--------------------------------------------------------------------------- TOPBAR

#tb {
  /* ------------------TOP BAR AREA*/
  width: wd(1);
  background-color: clr(blue);
  position: fixed;
  height: $tbh !important;
  z-index: 888;
  display: grid;
  grid-template-columns: 72px 150px 1fr 150px 72px;
  grid-template-rows: 72px;
  grid-template-areas: "bars logo news nav_link morevert";
  justify-content: start;

  // MENU BUTTON
  .bars {
    height: $tbh;
    grid-area: bars;
    grid-column: 1/2;
    display: flex;
    justify-content: center;

    i {
      align-self: center;
      color: clr(wht);
    }
  }

  // LOGO WEB
  .logo {
    color: tomato;
    font-size: 1.5rem;
    grid-area: logo;
    grid-column: 2/3;
    display: flex;
    align-self: center;

    img {
      justify-items: center;
    }
  }

  // NEWS SLIDER
  .newslider {
    grid-area: news;
    grid-column: 3/4;
  }

  // LINK NAVIGATION
  .nav_link {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    grid-area: nav_link;
    grid-column: 4/5;

    ul {
      margin: 0 0 0 auto;
      display: flex;
      justify-content: flex-end;
      justify-items: center;
      list-style: none;
      @include trans;

      li {
        align-self: center;
        padding: 0;
        a {
          font-size: 0.9rem;
          margin: 0.5rem;
          color: clr(wht);
          text-decoration: none;
          @include cap;

          &:hover,
          &:focus {
            color: clr(mygreen);
          }
        }
        .active {
          background-color: clr(wht);
          @include rad(50px);
        }
      }

      @include mq-max(720px) {
        display: none;
      }
    }
  }

  //MORE BUTTON
  .more {
    grid-area: morevert;
    grid-column: 5/6;
    display: flex;
    justify-content: center;

    i {
      align-self: center;
      padding: 0;
      color: clr(wht);
    }

    .morebtn {
      color: clr(wht);
      font-size: 24px;
      border: none;
      cursor: pointer;
    }

    .more_content {
      position: absolute;
      width: 72px;
      height: 100vh;
      top: $tbh;
      right: 0;
      bottom: 0;
      z-index: 999;
      display: block;
      background-color: clr(blue);

      ul {
        @include trans;
        display: flexbox;
        justify-content: first baseline;
        justify-items: center;
        list-style: none;
        height: 100vh;
        padding: 0;
        margin: 30px auto;

        li {
          align-self: center;
          list-style: none;
          display: block;
          height: 3em;

          a {
            text-align: center;
            align-self: center;
            display: inline;
            font-size: 0.9rem;
            color: clr(wht);
            padding: 0.4rem;
            text-decoration: none;
            display: block;
            &:hover {
              color: clr(mygreen);
            }
          }
        }
      }
    }
    .show {
      display: block;
    }

    .hide {
      display: none;
    }
  }
}

//-------------------------------------------------------------------------------- LEFT BAR MENU
#lb {
  display: none;
  background-color: clr(blue);
  position: fixed;
  width: 72px;
  height: 100vh;
  top: $tbh;
  left: 0;
  bottom: 0;
  z-index: 999;

  &:hover,
  &:focus {
    opacity: 1;
  }

  ul {
    @include trans;
    display: block;
    justify-content: baseline;
    justify-items: center;
    list-style: none;
    height: 100vh;
    padding: 0;
    margin: 30px auto;

    li {
      justify-content: center;
      justify-items: center;
      list-style: none;
      display: flex;
      height: 4em;

      a {
        color: clr(wht);
        text-decoration: none;
        @include cap;

        &:hover,
        &:focus {
          color: clr(item);
        }
        span {
          display: block;
          position: absolute;
          font-size: 0.6rem;
          text-transform: capitalize;
        }
      }
      .active {
        background-color: clr(lightgreen);
        @include rad(50px);

        &:hover,
        &:focus {
          color: clr(item);
        }
      }
    }
  }
}

//---------------------------------------------------------------------------------- RIGHT BAR MENU
// #rb {
//   background-color: clr(blue);
//   grid-area: rightsidebar;
//   grid-column: 4/5;

//   position: fixed;
//   width: 72px;
//   height: 100vh;
//   top: 56px;
//   right: 0;
//   bottom: 0;
//   z-index: 999;

//   ul {
//     @include trans;
//     display: flexbox;
//     justify-content: first baseline;
//     justify-items: center;
//     list-style: none;
//     height: 100vh;
//     padding: 0;
//     margin: 30px auto;

//     li {
//       align-self: center;
//       list-style: none;
//       display: block;
//       height: 3em;

//       a {
//         color: clr(wht);
//         margin-left: 1.5rem;
//         text-decoration: none;
//         @include cap;

//         &:nth-child(6) {
//           position: relative;
//           bottom: 0;
//         }

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//       .active {
//         background-color: clr(lightgreen);
//         @include rad(50px);

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//     }
//   }
// }
