//---------------------------------------- LEFT BAR MENU
#lb {
  background-color: clr(blue);
  grid-area: leftsidebar;
  position: fixed;
  width: 72px;
  height: 100vh;
  top: 56px;
  left: 0;
  bottom: 0;
  z-index: 999;

  &:hover,
  &:focus {
    opacity: 1;
  }

  ul {
    @include trans;
    display: flexbox;
    justify-content: first baseline;
    justify-items: center;
    list-style: none;
    height: 100vh;
    padding: 0;
    margin: 30px auto;

    li {
      justify-content: center;
      justify-items: center;
      list-style: none;
      display: flex;
      height: 4em;

      a {
        color: clr(wht);
        text-decoration: none;
        @include cap;

        &:hover,
        &:focus {
          color: clr(item);
        }
        span {
          display: block;
          position: absolute;
          font-size: 0.6rem;
          text-transform: capitalize;
        }
      }
      .active {
        background-color: clr(lightgreen);
        @include rad(50px);

        &:hover,
        &:focus {
          color: clr(item);
        }
      }
    }
  }
}

//---------------------------------------- RIGHT BAR MENU
// #rb {
//   background-color: clr(blue);
//   grid-area: rightsidebar;
//   position: fixed;
//   width: 72px;
//   height: 100vh;
//   top: 56px;
//   right: 0;
//   bottom: 0;
//   z-index: 999;

//   ul {
//     @include trans;
//     display: flexbox;
//     justify-content: first baseline;
//     justify-items: center;
//     list-style: none;
//     height: 100vh;
//     padding: 0;
//     margin: 30px auto;

//     li {
//       align-self: center;
//       list-style: none;
//       display: block;
//       height: 3em;

//       a {
//         color: clr(wht);
//         margin-left: 1.5rem;
//         text-decoration: none;
//         @include cap;

//         &:nth-child(6) {
//           position: relative;
//           bottom: 0;
//         }

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//       .active {
//         background-color: clr(lightgreen);
//         @include rad(50px);

//         &:hover,
//         &:focus {
//           color: clr(item);
//         }
//       }
//     }
//   }
// }
