$colors: (
  blue: #007fe6f3,
  blue2: #007fe6,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  bluesky: #43d7ff,
  mygreen: rgb(57, 223, 93),
  red1: #ff0000,
  wht: #fff,
  wht2: rgb(238, 238, 238),
  item: rgb(0, 0, 0),
  item2: rgba(0, 0, 0, 0.2),
  item5: rgba(0, 0, 0, 0.5),
  item7: rgba(0, 0, 0, 0.7),
  dark: #21292d,
  trans: rgba(255, 255, 255, 0),
  tomat: rgba(255, 99, 71, 0.973),
  tomat5: rgba(255, 99, 71, 0.774),
  pinkp: #ff6561,
  creamp: #ffe5a5,
  greenp: #00cabc,
  coffeemilk: #f4d381,
  gray1: #f8f9fc,
  gray2: #eaecf4,
  gray3: #dddfeb,
  gray4: #d1d3e2,
  gray5: #b7b9cc,
  gray6: #858796,
  gray7: #6e707e,
  gray8: #5a5c69,
  gray9: #3a3b45,
  brand-google: #ea4335,
  brand-facebook: #3b5998
);

$widths: (
  1: 1263px,
  2: 600px,
  3: 400px,
  4: 300px,
  5: 240px,
  6: 200px,
  wrap: 1100px
);

@function wd($widths-number) {
  @return map-get($widths, $widths-number);
}
@function clr($color-name) {
  @return map-get($colors, $color-name);
}

$fonts: (
  xl: 3rem,
  lg: 2rem,
  md: 1.2rem,
  sm: 0.8rem
);

@function fonz($font-name) {
  @return map-get($fonts, $font-name);
}

$padding: 1rem;
$borders: 1rem;

$tbh: 72px;
$tbh2: 56px;
