$colors: (
  blue1: #007fe6f3,
  blue2: #007fe6,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  bluesky: #43d7ff,
  mygreen: rgb(57, 223, 93),
  red1: #ff0000,
  wht: #fff,
  wht2: rgb(238, 238, 238),
  item: rgb(0, 0, 0),
  item2: rgba(0, 0, 0, 0.2),
  item5: rgba(0, 0, 0, 0.5),
  item7: rgba(0, 0, 0, 0.7),
  dark: #21292d,
  trans: rgba(255, 255, 255, 0),
  tomat1: rgba(255, 99, 71, 0.973),
  tomat5: rgba(255, 99, 71, 0.774),
  purple1: rgba(172, 71, 255, 0.973),
  purple5: rgba(135, 71, 255, 0.774),
  pinkp: #ff6561,
  creamp: #ffe5a5,
  greenp: #00cabc,
  coffeemilk: #f4d381,
  gray1: #f8f9fc,
  gray2: #eaecf4,
  gray3: #dddfeb,
  gray4: #d1d3e2,
  gray5: rgba(37, 37, 37, 0.527),
  gray6: #858796,
  gray7: #6e707e,
  gray8: #5a5c69,
  gray9: #3a3b45,
  google: #ea4335,
  fb: #5175c2,
  tw: #0392d4,
  ig: #c73db5,
  yt: #d10000
);
@function clr($color-name) {
  @return map-get($colors, $color-name);
}

//----------------------------------------------------------------------------
$linear: (
  1: linear-gradient(315deg, #ff0057, #e64a19),
  2: linear-gradient(315deg, #89ff00, #00bcd4),
  3: linear-gradient(315deg, #e91e63, #5d02ff),
  4: linear-gradient(315deg, #ff0000, #ffc107)
);
@function lnr($linear-number) {
  @return map-get($linear, $linear-number);
}

//----------------------------------------------------------------------------
$widths: (
  0: calc(1 * 100vw),
  1: calc(0.9 * 100vw),
  2: calc(0.8 * 100vw),
  3: calc(0.7 * 100vw),
  4: calc(0.6 * 100vw),
  5: calc(0.5 * 100vw),
  6: calc(0.4 * 100vw),
  7: calc(0.3 * 100vw),
  8: calc(0.2 * 100vw),
  9: calc(0.1 * 100vw),
  wrap: calc(0.85 * 100vw)
);
@function w($widths-number) {
  @return map-get($widths, $widths-number);
}
//----------------------------------------------------------------------------
$gradients: (
  vio: linear-gradient(90deg, #df54a7 0%, #7571ac 100%)
);
@function grad($gradient-name) {
  @return map-get($gradients, $gradient-name);
}
//----------------------------------------------------------------------------
$shadows: (
  gr: 1px 1px 5px #24cc94,
  vi: 1px 1px 5px #9050e4,
  bl: 1px 1px 5px #0392d4,
  pi: 1px 1px 5px #d403c9
);
@function sdw($sdw-clr) {
  @return map-get($shadows, $sdw-clr);
}

//----------------------------------------------------------------------------
$heights: (
  0: calc(1 * 100vh),
  1: calc(0.9 * 100vh),
  2: calc(0.8 * 100vh),
  3: calc(0.7 * 100vh),
  4: calc(0.6 * 100vh),
  5: calc(0.5 * 100vh),
  6: calc(0.4 * 100vh),
  7: calc(0.3 * 100vh),
  8: calc(0.2 * 100vh),
  9: calc(0.1 * 100vh)
);
@function h($heights-number) {
  @return map-get($heights, $heights-number);
}

//----------------------------------------------------------------------------
$fonts: (
  xl: 3rem,
  lg: 2rem,
  md: 1.2rem,
  sm: 0.8rem
);
@function fonz($font-name) {
  @return map-get($fonts, $font-name);
}

//----------------------------------------------------------------------------
$padding: 1rem;
$borders: 1rem;

$tbh: 72px;
$tbh2: 56px;
