/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "dosis";
  src: url("../../fonts/dosis.ttf");
  src: url("../../fonts/dosis.ttf") format("ttf"), url("../../fonts/dosis.ttf") format("truetype");
}

@font-face {
  font-family: "play";
  src: url("../../fonts/play-regular.ttf");
  src: url("../../fonts/play-regular.ttf") format("ttf"), url("../../fonts/play-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  cursor: pointer;
  /* Rules for sizing the icon. */
  /* Rules for using icons as black on a light background. */
  /* Rules for using icons as white on a dark background. */
}

.material-icons .md-18 {
  font-size: 18px;
}

.material-icons .md-24 {
  font-size: 24px;
}

.material-icons .md-36 {
  font-size: 36px;
}

.material-icons .md-48 {
  font-size: 48px;
}

.material-icons .md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons .md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons .md-light {
  color: white;
}

.material-icons .md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

body {
  display: -ms-grid;
  display: grid;
  font-family: "play", sans-serif;
  font-size: 16px;
  width: 100% !important;
  overflow-x: hidden;
}

#tb {
  /* ------------------TOP BAR AREA*/
  width: 100%;
  background-color: #007fe6f3;
  position: fixed;
  height: 72px !important;
  z-index: 888;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 150px 1fr 150px 72px;
      grid-template-columns: 72px 150px 1fr 150px 72px;
  -ms-grid-rows: 72px;
      grid-template-rows: 72px;
      grid-template-areas: "bars logo news nav_link morevert";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#tb .bars {
  height: 72px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bars;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tb .bars i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

#tb .logo {
  color: tomato;
  font-size: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

#tb .logo img {
  justify-items: center;
}

#tb .newslider {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: news;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

#tb .nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: nav_link;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

#tb .nav_link ul {
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: center;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#tb .nav_link ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
}

#tb .nav_link ul li a {
  font-size: 0.9rem;
  margin: 0.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

#tb .nav_link ul li a:hover, #tb .nav_link ul li a:focus {
  color: #39df5d;
}

#tb .nav_link ul li .active {
  background-color: #fff;
  border-radius: 50px;
}

@media only screen and (max-width: 720px) {
  #tb .nav_link ul {
    display: none;
  }
}

#tb .more {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: morevert;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tb .more i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  color: #fff;
}

#tb .more .morebtn {
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

#tb .more .more_content {
  position: absolute;
  width: 72px;
  height: 100vh;
  top: 72px;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: block;
  background-color: #007fe6f3;
}

#tb .more .more_content ul {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: flexbox;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  justify-items: center;
  list-style: none;
  height: 100vh;
  padding: 0;
  margin: 30px auto;
}

#tb .more .more_content ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
  display: block;
  height: 3em;
}

#tb .more .more_content ul li a {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline;
  font-size: 0.9rem;
  color: #fff;
  padding: 0.4rem;
  text-decoration: none;
  display: block;
}

#tb .more .more_content ul li a:hover {
  color: #39df5d;
}

#tb .more .show {
  display: block;
}

#tb .more .hide {
  display: none;
}

#lb {
  background-color: #007fe6f3;
  position: fixed;
  width: 72px;
  height: 100vh;
  top: 72px;
  left: 0;
  bottom: 0;
  z-index: 999;
}

#lb:hover, #lb:focus {
  opacity: 1;
}

#lb ul {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  justify-items: center;
  list-style: none;
  height: 100vh;
  padding: 0;
  margin: 30px auto;
}

#lb ul li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
}

#lb ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

#lb ul li a:hover, #lb ul li a:focus {
  color: black;
}

#lb ul li a span {
  display: block;
  position: absolute;
  font-size: 0.6rem;
  text-transform: capitalize;
}

#lb ul li .active {
  border-radius: 50px;
}

#lb ul li .active:hover, #lb ul li .active:focus {
  color: black;
}

#wrap {
  font-family: "dosis", sans-serif;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 3fr 1.4fr 72px;
      grid-template-columns: 72px 3fr 1.4fr 72px;
  -ms-grid-rows: 600px 10fr 56px;
      grid-template-rows: 600px 10fr 56px;
      grid-template-areas: " header header header header" "leftsidebar content sidebar rightsidebar" "leftsidebar footer footer rightsidebar";
}

@media only screen and (max-width: 720px) {
  #wrap {
    -ms-grid-columns: 72px 1fr;
        grid-template-columns: 72px 1fr;
    -ms-grid-rows: 200px auto auto 40px;
        grid-template-rows: 200px auto auto 40px;
        grid-template-areas: "header header" "content content" "sidebar sidebar" "footer footer";
  }
}

#wrap .hd {
  margin: 75px auto auto 75px;
  width: calc(100vw - $tbh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

#wrap .hd img {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0.5;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clear: both;
}

#wrap .hd header {
  background-color: #39df5d;
  opacity: 0.6;
  border-radius: 10px;
  width: 70%;
  height: 000px;
  border-radius: 10px 50px;
  vertical-align: middle;
  padding: 1em;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
}

#wrap .hd header h1 {
  font-weight: bold;
  font-family: "play", georgia;
  font-size: 3rem;
  text-transform: capitalize;
}

#wrap .hd header p {
  font-size: 16px;
}

#wrap .ct {
  background-color: #fff;
  font-family: "dosis", sans-serif;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 1rem;
}

#wrap .rb {
  background-color: #fff;
  font-family: "dosis", sans-serif;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sidebar;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 1rem;
}

#wrap .eb {
  background-color: #eeeeee;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer;
}
/*# sourceMappingURL=home.css.map */